<script src='/js/qrcode.min.js'></script>
<h3> 如何测试: "支付宝沙箱 App" -> "扫码支付"</h3>
<div id="qrcode"></div>
<script type="text/javascript">
  new QRCode(document.getElementById("qrcode"), "<%= @qr_code %>");
</script>